* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/back.jpg);
  background-position: center;
  background-size: cover;
}

hr {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.main-posts a {
  color: #000 !important;
}

p {
  margin-bottom: 0 !important;
}

li {
  list-style-type: none;
}

ol,
ul {
  padding-left: 0 !important;
}

.mobile-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;

  img {
    width: 100%;
  }
}

.post-comment textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
}

.second {
  margin-top: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.mobile-part {
  display: none;
}

.logo-sec img {
  width: 200px;
  object-fit: contain;
}

.mobile-nav {
  display: none;
}

.header-cont {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
  max-width: 1500px;

  .header-links a {
    margin: 0 15px;
  }

  .logo {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
  }
}

.tabs {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 15px 0;

  a {
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: #000;
  }

  .active {
    background-color: red;
    color: #fff;
  }
}

.action-btns {
  display: flex;
  gap: 15px;
  margin-top: 15px;

  button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px 4px;
    color: #000;
    border: 1px solid black;
  }
}

.welcome {
  display: flex;
  align-items: center;
  gap: 50px;
}

.welcome-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.welcome-note {
  display: flex;
  align-items: center;
  gap: 15px;
}

@mixin object-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
$fontColor: rgb(250, 250, 250);

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  @include object-center;
  position: relative;
  transition: all 0.3s ease;

  input {
    display: none;
  }

  img {
    position: absolute;
    object-fit: cover;
    width: $circleSize;
    height: $circleSize;
    box-shadow: $shadow;
    border-radius: $radius;
    z-index: -1;
  }

  .-label {
    cursor: pointer;
    height: $circleSize;
    width: $circleSize;
  }

  &:hover {
    .-label {
      @include object-center;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 10000;
      color: $fontColor;
      transition: background-color 0.2s ease-in-out;
      border-radius: $radius;
      margin-bottom: 0;
    }
  }

  span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
    margin-left: 10px;
  }
}
.personal-infos {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

table {
  width: 100%;
}

.info-label {
  color: #555;
  font-weight: bold;
  padding-right: 10px;
}

.info-value {
  color: #333;
}

.welcome-span,
.nots {
  font-size: 25px;
  color: lightcoral;
  font-weight: bold;
}

.upload-pic {
  padding: 5px 20px;
  border: none;
  font-weight: 600;
  border-radius: 10px 5px;
  border: 1px solid black;
}

.interests-container {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.interests-heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.interest-label {
  display: block;
  margin-bottom: 10px;
}

.interest-checkbox {
  margin-right: 5px;
}

.selected-interests {
  margin-top: 10px;
  font-style: italic;
}

.interest-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ql-container {
  position: static !important;
}

.ql-editor {
  min-height: 250px !important;
}

.posts,
.main-posts {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.singlePost {
  max-width: 250px;
  width: 100%;
  border: 1px solid black;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px 5px;
}

.main-page-posts {
  width: 100%;
  border: 1px solid #b1b7d1;
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px 5px;
}

.post-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-wrap: wrap;

  input,
  select {
    padding: 5px 15px;
    border: 1px solid #555;
    border-radius: 5px;
  }
}

.myInterests {
  padding: 5px 10px;
  border: 1px solid #555;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  gap: 15px;
  align-items: center;

  button {
    border: none;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
  }
}

.top-container {
  display: flex;
  width: 300px;
  gap: 50px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 80px 50px 0 0;
  overflow: hidden;
  background-color: lightcoral;
}

.side-cont {
  width: 100%;
  max-height: 88vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.side-cont::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.side-cont {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.side-links {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  gap: 15px;

  a {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #555;
    color: #000;
    font-weight: bold;

    &.active {
      color: red;
      border: 1px solid red;
    }
  }
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  label {
    display: block;
    margin-bottom: 5px;
  }
  a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-container {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

.form-container input[type="checkbox"] {
  margin-right: 5px;
}

.form-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-results {
  margin-top: 20px;
}

.post-head,
.post-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  // margin-bottom: 15px;
}

.post-body {
  padding: 10px 0 30px 0;
}

.post-footer img {
  width: 30px;
}

/* Add more styles as needed */

@media screen and (max-width: 768px) {
  .mobile-part {
    display: block;
  }
  .welcome,
  .posts,
  .main-posts {
    flex-wrap: wrap;
    justify-content: center;
  }

  .whole-cont {
    padding: 0;
  }

  .header-cont {
    padding: 15px;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .main-cont {
    padding: 0 15px;
  }
  .top-container {
    flex-wrap: wrap;
  }

  .mobile-nav {
    display: block;
  }

  .profile-cont {
    padding-left: 15px;
    padding-right: 15px;
  }

  .post-heading {
    gap: 15px;
  }

  .singlePost {
    max-width: initial;
  }

  .header-links {
    display: none;
  }

  .mobile-btn {
    background: none;
    border: none;
  }

  .mobile-btn img {
    width: 40px;
    height: 40px;
  }

  .side-links {
    max-width: initial;
    position: absolute;
    transform: translateX(-200%);
    background-color: #fff;
    z-index: 5;
    height: 90vh;
    padding: 0 15px;
    overflow-x: scroll;
    transition: all 0.5s linear;
    overflow-y: scroll;
    padding-bottom: 20px;
  }

  .side-links.side-active {
    left: 0;
    transform: translateX(0);
  }

  .side-links a {
    padding: 5px 15px !important;
  }
}
